<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Bugs Contacts</title>
    <link href="{{ url_for('static', filename='style.css' )}}" rel="stylesheet"/>    
  </head>
  <body>
    <header>
      <div class="wrapper">
        <input id="query" type="text" value="" placeholder="Enter Name"/>
        <button id="btn" >Search</button>
      </div>
    </header>
    <main>
      <div class="empty"></div>
      <ul id="result"></ul>
    </main>        
  </body>
  <script src="{{ url_for('static', filename='main.js' ) }}"></script>
  <script>
//    let text = document.getElementById('somecrap').innerHTML;

  </script>
</html>
