<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Bugs Contacts</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link href="{{ url_for('static', filename='style.css' )}}" rel="stylesheet"/>    
  </head>
  <body>
    <header>
      <h1>Search Contacts</h1>
    </header>
    <main>
      <input id="query" type="text" value=""/>
      <button id="btn" >Search</button>
      <ul id="result"></ul>
    </main>        
  </body>
  <script src="{{ url_for('static', filename='main.js' ) }}"></script>
  <script>
//    let text = document.getElementById('somecrap').innerHTML;

  </script>
</html>
